body {
  font-family: Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1496545087308-51ec893e6bbc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmlzZSUyMHVwfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

#product {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

#contact {
  background-color: #e9ecef;
  padding: 20px;
  text-align: center;
}

#requestForm {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

input[type="text"], input[type="email"] {
  margin-bottom: 10px;
}
